# Arquivos e pastas gerados pelo build do .NET
bin/
obj/
*.exe
*.pdb
*.user
*.suo
*.cache
*.log
*.vscode
**/*assemblyinfo*
C:\Users\Sraba\source\repos\PaymentContext\PaymentContext.Domain\obj\Debug/
C:\Users\Sraba\source\repos\PaymentContext\PaymentContext.Shered\obj\Debug/
C:\Users\Sraba\source\repos\PaymentContext\PaymentContext.Tests\obj\Debug/